body {
    font-family: 'Baloo 2', cursive;
    margin: 8vh 5vw;
    background-color: aliceblue;
}

h1 {
    font-family: 'Comfortaa', cursive;
}

textarea {
    margin-bottom: 2vh;
}

.choice {
    background-color: aqua;
    border-radius: 25px;
    padding: 0.5vh 2vw;
    margin: 0.5vh 1vw;
}